div.header{
  widtg:100%;
  height:200%;
  border: 1px solid black;
}
div.content{
    border: 1px solid black;

}
div.footer{
    border: 1px solid black;

}
div.leftblock{
    border: 1px solid black;

}
