div.header
{
  width: 100%;
  height: 20%;
  border: 1px solid black;
}


div.leftblock
{
  display: inline-block;
  float: centre;
  height: 650px;
  width: 20%;
  margin-right: 5px;
  border: 1px solid black;
  padding: 5px;
}


div.content
{
  padding: 5px;
  float: right;
  width: 75%;
  height: 650px;
  display: inline-block;
  
}


div.footer
{
  display: inline-block;
  width:100%;
  height:25px;
  border: 1px solid black;
}


div.loginform
{
  float: right;
  width:200px;
  height: 100%;
}

ul li
{
  margin-right: 5px;
  padding: 25px;
  transition: 1s;
}
ul li:hover
{
  background: red;
}

#blockbody{
  width: 800px;
  height: auto;
  border: 1px solid black;
  margin: 50px auto;
}

#block-content{
  width: 600px;
  height: auto;
}
#block-cart{
  float: right;
  border: 1px solid black;
}
#block-cart > p{
  font: 14px sans-serif;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 190px;
  border: 1px solid #EE6475;
  margin: 0;
  padding-left: 5px;
  background-color: #EE6475;
  color: white;
}
#block-cart > p > span.corner-down{
  background: url(\bullet_arrow_down.png) no-repeat;
  width: 12px;
  height: 7px;
  display: block;
  position: absolute;
  margin-left: 150px;
  margin-top: -13px;
}
#block-cart > p > span.corner-up{
  background: url(\bullet_arrow_up.png) no-repeat;
  width: 12px;
  height: 7px;
  display: block;
  position: absolute;
  margin-left: 150px;
  margin-top: -13px;
}
#block-cart > div{
  border: 1px solid #F8C0C6;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -1px;
  display: none;
}
#block-cart > div > p{
  font: 15px sans-serif;
  margin: 5px;
  color: #B94848;
}
#block-cart > div > p > span{
  font: 18px sans-serif;
  display: block;
  position: absolute;
  margin-left: 80px;
  margin-top: -18px;
  color: black;
}
#block-cart > div > a{
  font: 14px sans-serif;
  display: inline-block;
  padding: 4px;
  border: 1px solid #E2E2E2;
  margin-top: 10px;
  margin-left: 5px;
  text-decoration: none;
  background-color: #E9E9E9
  color: black;
}



#listing{
  margin-top: -10px;
}
#listing li{
  float: left;
  margin-left: 10px;
  width: auto;
  height: 250px;
}
#listing p.add-tovar{
  background: url(\add-cart-norm.png) no-repeat;
  display: inline-block;
  margin: 0;
  width: 48px;
  height: 25px;
  cursor: pointer;
}
#listing p.add-tovar:hover{
  background: url(\add-cart-hover.png) no-repeat;
}
#listing p.add-tovar:active{
  background: url(\add-cart-active.png) no-repeat;
}
#listing p.price-tovar{
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font: 17px sans-serif;
}
.fixblock{
  height:200px;
  padding-top: 10px;
}
.messagecart{
  border: 1px solid black;
  padding: 3px;
  font: 13px sans-serif;
  display: none;
  position: absolute;
  background-color: white;
}
