div.header
{
  width: 100%;
  height: 10%;
  border: 1px solid black;
}
 
div.centre
{
  width:100%;
  height:65%;
  border: 1px solid black;
}


div.footer
{
  display: inline-block;
  width:100%;
  height:25px;
  border: 1px solid black;
}
